<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta hrrp-equiv="X-UA-compatible"content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/MenuLaundrys">klik menu</a> | <a href="/MenuLaundry">klik in here</a> | <a href="/InfoLaundry">klik disisni</a>  
    {% block judul %}

    {% endblock judul %}

    {% block kotak %}

    {% endblock kotak %}
</body>
</html>