{% extends 'base.html' %}

{% block kotak  %}

<h1>INI ADALAH LAUNDRY ONLINE</h1>

<table border="1">
    <tr>
        <td>NO</td>
        <td>JENIS PAKAIAN</td>
        <td>PAKET KOMPLIT</td>
    </tr>

    <tr>
        <td>1</td>
        <td>BAJU</td>
        <td> PAKET KOMPLIT</td>
    </tr>


</table>


 
{% endblock kotak %}

